# Runtime environment
ENV=qa

# Web execution
WEB_BASE_URL=https://www.saucedemo.com/
BROWSER=chromium
HEADLESS=false

# API execution
API_BASE_URL=https://restful-booker.herokuapp.com

# API authentication
API_USERNAME=your_api_username
API_PASSWORD=your_api_password
