# Direct project dependencies
robotframework==7.5
robotframework-browser[bb]==20.6.0
robotframework-requests==0.9.7
robotframework-pabot==5.2.2
robotframework-robocop==9.1.0
ruff==0.16.10
pre-commit==4.6.2
jsonschema==4.26.0
